body {
    width: 1800px;
    height: 800px;
    margin: auto auto;
    background-color: rgb(12, 12, 71);
}

canvas {
    /* border: 5px solid rgb(254, 7, 7); */
    border: 5px solid white;
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
    margin-left: 850px;
    margin-right: auto;
    display: block;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

p, h2 {
    color: white;
    display: grid;
    grid-column: 1;
    margin-left: 300px;
    margin-bottom: 0px;
    font-family: fantasy;
    letter-spacing: 0.5px;
}

h2 {
    /*leaving space for next block, if doesn't happen, move up*/
    margin-top: 350px;
    font-size: 1.8em;
    color: rgb(82, 82, 228);
    letter-spacing: 1.6px;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: lighter;
}

#points {
    margin-top: 5px;
    padding: 5px;
    font-size: 1.6em;
    border-width: 3px;
    border-style: solid;
    /* border-color:rgb(53, 53, 226); */
    border-color: white;
    width: 320px;
}

.container {
    display : grid;
    grid-template-columns: 600px 200px;
}

img {
    height: 5em;
    width: 20em;
    margin-left: 300px;
    margin-top: 100px;
    border: 6px solid;
    border-color: rgb(18, 18, 117);
}