body {
    width: 1800px;
    height: 800px;
    margin: auto auto;
    background-color: rgb(27, 27, 147);
}

canvas {
    border: 3px solid white;
    padding-left: 0;
    padding-right: 0;
    margin-top: 100px;
    margin-left: 850px;
    margin-right: auto;
    display: block;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

p, h2 {
    color: white;
    display: grid;
    grid-column: 1;
    margin-left: 300px;
    margin-bottom: 0px;
}

h2 {
    /*leaving space for next block, if doesn't happen, move up*/
    margin-top: 400px;
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
}

.container {
    display : grid;
    grid-template-columns: 600px 200px;
}

img {
    height: 5em;
    width: 20em;
    margin-left: 300px;
    margin-top: 100px;
    border: 6px solid;
    border-color: rgb(18, 18, 117);
}