html {
    justify-content: center;
    text-align: center;
    background: url(../imgs/bg.jpg);
    background-size: auto 121%;
    height: 100%;
}

body {
    width: 1600px;
    height: 900px;
    min-height: 100%;
    margin: auto auto;
    background-color: rgb(12, 12, 71);
    font-family: 'Notable';
    font-style: italic;
    letter-spacing: 1.5px;
    border: 18px solid;
    border-color: rgb(18, 18, 117);
}

h1 {
    margin-top: 100px;
    padding-top: 40px;
    color: white;
    font-size: 50px;
}

button {
    background-color: rgb(15, 15, 91);
    border-color: black;
    margin: auto auto;
    font-size: 22px;;
    height: 45px;
    width: 105px;
    margin-top: 20px;
    border-radius: 10px;
    border-style:outset;
    color: white;
}

button:hover {
    border-color: grey;
    cursor: pointer;
}

button:active {
    border-style: inset;
    background-color: rgb(4, 4, 27);
}

img {
    margin-top: 20px;
    margin-bottom: 15px;
    height: 300px;
    border: 14px solid;
    border-color: rgb(18, 18, 117);
}

.pickPalette {
    color: white;
}

p {
    margin-top: 50px;
    color: white;
}