html {
    justify-content: center;
    text-align: center;
    background-color: black;
}

body {
    width: 1800px;
    height: 900px;
    margin: auto auto;
    background-color: rgb(32, 32, 173);
    font-family: 'Notable';
    font-style: italic;
    letter-spacing: 1.5px;
}

h1 {
    margin-top: 0px;
    padding-top: 40px;
    color: white;
    font-size: 50px;
}

button {
    background-color: black;
    border-color: black;
    margin: auto auto;
    font-size: 20px;;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    border-radius: 10px;
    border-style:outset;
    color: white;
}

button:hover {
    border-color: grey;
    cursor: pointer;
}

button:active {
    border-style: inset;
    background-color: rgb(32, 32, 103);
}

img {
    margin-top: 20px;
    margin-bottom: 15px;
    height: 300px;
    border: 14px solid;
    border-color: rgb(18, 18, 117);
}